:root{
    --amarelo: #DCA500;
    --amarelo-light: #FFBF00;
    --cinza: #333;
    --branco: #fafafa;
    --radius: 0.3rem;
    --transition: 0.3s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    background: url('../img/bg.jpg');
    padding: 2%;
}

h1, h2, span, p {
    font-family: 'Nunito', sans-serif;
    color: var(--branco);
}